body {
background-color: black;
color: #123C69
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  background-color: black;
  margin-bottom: 100px;
}
#font {
  color: #123C69;
}
.ui.text.container {
  text-align: 'center';
  margin-top: 155px;
  margin-bottom: 230px;
}

.ui.huge.button{
  margin-top: 18px;
  color:#123C69;
  background-color: #c7dbf9;
}
.ui.huge.button:hover{
  color:#123C69;
  background-color: #EDC7B7;
}
.ui.medium.image {
}
.drhwc.route-section {
  background-color: #EEE2DC;
  padding-bottom: 220px;
}
.route-section{
  color:#123C69;
  bottom: 200px;
}
.item {
  top: 10px;
}
.ui.image{
  bottom: 10px;
}
.ui.header {
  bottom: 100px;
}
.ui.grid {
  background-color: #123C69;
}
.ui.grid.column {
  width: 70%;
  background-color: #123C69;
}
.divClass {
  margin-top: 1px;
}
